version: "3.9"
services:
  ydb:
    image: ydbplatform/local-ydb:trunk
    restart: always
    ports:
      - 2136:2136
      - 2135:2135
    hostname: localhost
    volumes:
    - ./ydb_certs:/ydb_certs
    environment:
      - YDB_ENABLE_COLUMN_TABLES=true
