certifi==2023.7.22
cffi==1.14.2
chardet==3.0.4
cryptography==41.0.0
enum-compat==0.0.3
googleapis-common-protos==1.52.0
grpcio==1.53.0
idna==2.10
protobuf==3.18.3
pycparser==2.20
pydantic==1.6.2
PyJWT==2.4.0
requests==2.31.0
urllib3==1.26.5
yandexcloud==0.48.0
ydb==0.0.41

