name: slo-report

on:
  workflow_run:
    workflows: ["SLO"]
    types:
      - completed

jobs:
  ydb-slo-action-report:
    runs-on: ubuntu-latest
    name: Publish YDB SLO Report
    permissions:
      checks: write
      contents: read
      pull-requests: write
    steps:
      - name: Publish YDB SLO Report
        uses: ydb-platform/ydb-slo-action/report@13c687b7d4b2879da79dd12932dee0ed2b65dd1c
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          github_run_id: ${{ github.event.workflow_run.id }}
  