name: SLO

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test-slo:
    concurrency:
      group: slo-${{ github.ref }}
    if: (!contains(github.event.pull_request.labels.*.name, 'no slo'))

    runs-on: ubuntu-latest
    name: SLO test
    permissions:
      checks: write
      pull-requests: write
      contents: read
      issues: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        if: env.DOCKER_REPO != null
        env:
          DOCKER_REPO: ${{ secrets.SLO_DOCKER_REPO }}

      - name: Run SLO
        uses: ydb-platform/slo-tests@main
        if: env.DOCKER_REPO != null
        env:
          DOCKER_REPO: ${{ secrets.SLO_DOCKER_REPO }}
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KUBECONFIG_B64: ${{ secrets.SLO_KUBE_CONFIG }}
          AWS_CREDENTIALS_B64: ${{ secrets.SLO_AWS_CREDENTIALS }}
          AWS_CONFIG_B64: ${{ secrets.SLO_AWS_CONFIG }}
          DOCKER_USERNAME: ${{ secrets.SLO_DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.SLO_DOCKER_PASSWORD }}
          DOCKER_REPO: ${{ secrets.SLO_DOCKER_REPO }}
          DOCKER_FOLDER: ${{ secrets.SLO_DOCKER_FOLDER }}
          s3_endpoint: ${{ secrets.SLO_S3_ENDPOINT }}
          s3_images_folder: ${{ vars.SLO_S3_IMAGES_FOLDER }}
          grafana_domain: ${{ vars.SLO_GRAFANA_DOMAIN }}
          grafana_dashboard: ${{ vars.SLO_GRAFANA_DASHBOARD }}
          ydb_version: 'newest'
          timeBetweenPhases: 30
          shutdownTime: 30

          language_id0: sync-python-table
          language0: Python SDK over Table Service
          workload_path0: tests/slo
          workload_build_context0: ../..
          workload_build_options0: -f Dockerfile --build-arg SDK_SERVICE=sync-python-table

          language_id1: sync-python-query
          language1: Python SDK over Query Service
          workload_path1: tests/slo
          workload_build_context1: ../..
          workload_build_options1: -f Dockerfile --build-arg SDK_SERVICE=sync-python-query

      - uses: actions/upload-artifact@v3
        if: env.DOCKER_REPO != null
        env:
          DOCKER_REPO: ${{ secrets.SLO_DOCKER_REPO }}
        with:
          name: slo-logs
          path: logs/
